/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/

/*top headbar*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav{
    display: flex;
}

.nav-link {
    margin: 0 1rem;
}

.user-actions{
    justify-content: space-between;
}

/*cards*/

.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*features*/

.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
}

.feature-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
}


/*footer*/

.footer-content{
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 2rem;
}

.footer-section{
    display: flex;
    flex-direction: column;
}

.social-links{
    display: flex;
    justify-content: space-between;
}

/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/
@media (max-width: 768px){

    header{
        flex-direction: column;
        align-items: center;
    }

    .card-container{
        flex-direction: column;
        align-items: center;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        flex-direction: column;
    }

}

